<!--src/app/app.component.html-->
<main>{{ title }}</main>
<button (click)="loadPlugin()">Load Plugin</button>

<!-- Window -->
<div style="width:640px; height: 480px">
  <!-- Viewport -->
  <div #pluginOne></div>
</div>

<!-- Window -->
<div style="width:640px; height: 480px">
 <!-- Viewport -->
 <div #pluginTwo></div>
</div>

<div style="width:640px; height: 480px">
  <!-- Viewport -->
  <div #pluginThree></div>
 </div>

<div style="width:640px; height: 480px">
  <!-- Viewport -->
  <div #pluginFour></div>
</div>
 